<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Tonal</title>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="angular.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="Tonal">
    <div id="content" >
        <div ng-controller="Toner" style="width:375px; background-color: white; padding: 10px;">
            Base: <input ng-model="baseFrequency"/><br />
            Octave: <input ng-model="octave" /><br />
            Steps: <input ng-model="steps" /><br />
            Volume: <input type="range" min="0" max="1" step=".1" ng-model="volume" />{{volume}}<br />
            <button ng-click="updateKeys()">Update Keyboard</button><br />
            <button ng-repeat="key in keys track by $index" ng-click="playNote($index)">{{$index}}</button>
        </div>
    </div>
</body>
</html>
